/*
 * SPDX-FileCopyrightText: 2022 Florian Warzecha <florian_filip.warzecha@fh-bielfeld.de>
 *
 * SPDX-License-Identifier: MIT
 */

@font-face {
    font-family: 'Recursive Sn Lnr St';
    src: url('./RecursiveSansLnrSt-Regular.woff2') format('woff2-variations');
    font-weight: 300 1000;
    font-feature-settings: "liga";
    font-variant-ligatures: common-ligatures;
}

@font-face {
    font-family: 'Recursive Sn Csl St';
    src: url('./RecursiveSansCslSt-Regular.woff2') format('woff2-variations');
    font-weight: 300 1000;
    font-feature-settings: "liga", "titl";
    font-variant-ligatures: common-ligatures;
    font-variant-caps: titling-caps;
}

@font-face {
    font-family: 'Recursive Mn Lnr St';
    src: url('./RecursiveMonoLnrSt-Regular.woff2') format('woff2-variations');
    font-weight: 300 1000;
    font-feature-settings: "dlig", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09", "ss10", "ss11", "ss12";
    font-variant-ligatures: discretionary-ligatures;
    font-variant-alternates: styleset(01), styleset(02), styleset(03), styleset(04), styleset(05), styleset(06), styleset(07), styleset(08), styleset(09), styleset(10), styleset(11), styleset(12);
}

.reveal li {
    margin-bottom: 10px;
}

.reveal li li:first-child {
    margin-top: 10px;
}

.reveal code {
    font-size: var(--r-code-font-size);
}

.reveal h1 code {
    font-size: var(--r-heading2-size);
}

.reveal h2 code {
    font-size: var(--r-heading4-size);
}

.reveal h3 code {
    font-size: var(--r-heading4-size);
}

.reveal h4 code {
    font-size: var(--r-heading5-size);
}

.reveal small {
    vertical-align: baseline;
    text-transform: none;
}

.column-container {
    display: flex;
}

.column {
    flex: 1;
}

figcaption {
    font-size: 0.4em;
}

.reveal {
    letter-spacing: -0.05em;
}

:root {
    --r-heading-font: "Recursive Sn Csl St";
    --r-main-font: "Recursive Sn Lnr St";
    --r-code-font: "Recursive Mn Lnr St";
    --r-code-font-size: 1.1em;
    --r-main-font-size: 25px;
    --r-heading1-size: 3.2em;
    --r-heading2-size: 2em;
    --r-heading3-size: 1.5em;
    --r-heading4-size: 1.0em;
    --r-heading5-size: 0.8em;
    --r-heading-text-transform: none;
    --r-heading-letter-spacing: -0.05em;
}
